<div class="row home" id="home-top-banner">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<center>
		<%= image_tag('jobfly-logo-txt.png') %>
		<p>
			JobFly is here to help you organize your next job search. Are you using paper or spreadsheets to keep track of all the activity on your job applications? JobFly aims to provide you with a GUI that will help you keep notes on job applications without you having to copy and paste information into a spreadsheet. You simply search for jobs, save them, then take whatever notes you'd like on your saved jobs.
		</p>
		<div class="col-md-6">
			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
		</div>
		<div class="col-md-6">
			<%= link_to 'Sign In', new_user_session_path, class: 'btn btn-warning' %>
		</div>
		</center>
	</div>
	<div class="col-md-4"></div>
</div>

<div class="row home home-middle">
	<div class="col-md-6">
		<h3 class="regular-header">About JobFly</h3>
		<p>
			JobFly was inspired by <a href="https://nestio.com/" target="_blank">Nestio</a>, which now operates as a real estate listing tool for brokers. Nestio started as an apartment search organizer, allowing users to easily grab data from apartment listings and put them into a GUI that allowed users to keep notes on listings they were interested in. 
		</p>
		<p>
			JobFly takes this basic concept and applies it to the use case of job searches with the goal of saving users some hassles while for work, and helping them get to their next job faster. Currently, JobFly only uses the <a href="http://www.indeed.com/jsp/apiinfo.jsp" target="_blank">Indeed API</a>, but with your support, it can expand to integrate as many of the major job listings sites as users desire.
		</p>
	</div>
	<div class="col-md-6">
		<h3 class="regular-header">About the Creator</h3>	
		<p>
			JobFly is the result of a <a href="https://generalassemb.ly/" target="_blank">General Assembly</a> Back-End Web Development final project. The project author, <a href="http://lzinc.net/" target="_blank">Lei Zhao</a>, graduated from Oberlin College with a degree in Philosophy and East Asian Studies. Lei has previously worked in the nonprofit sector, taking on various roles from development to community outreach management. In 2013, Lei embarked upon an adventure of self-discovery and education in the field of web design and development, and now works as a freelance web designer specializing in customized implementations of <a href="http://www.wordpress.org/" target="_blank">WordPress</a>.
		</p>
	</div>
</div>

<div class="row home" id="home-bottom-banner">
		<div class="col-md-4"></div>
		<div class="col-md-3">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nulla iaculis nibh faucibus venenatis. Pellentesque auctor tellus est, non porttitor erat ultricies eu. Vivamus nec purus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus accumsan magna ut sollicitudin. Sed non lectus magna. In egestas sit amet orci id imperdiet. Aliquam sed luctus risus, id ultrices massa.
			</p>
		</div>
		<div class="col-md-4"></div>		
</div>
