<div class="row home" id="home-top-banner">
	<div class="col-md-4">
		<span id="home-top-vertical-spacer"></span>
	</div>
	<!-- This seciton will contain app name, logo and tagline -->
	<div class="col-md-4">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nulla iaculis nibh faucibus venenatis. Pellentesque auctor tellus est, non porttitor erat ultricies eu. Vivamus nec purus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus accumsan magna ut sollicitudin. Sed non lectus magna. In egestas sit amet orci id imperdiet. Aliquam sed luctus risus, id ultrices massa.
		</p>
	</div>
	<!-- This seciton will link to sign up/sign in -->
	<div class="col-md-4">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nulla iaculis nibh faucibus venenatis. Pellentesque auctor tellus est, non porttitor erat ultricies eu. Vivamus nec purus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus accumsan magna ut sollicitudin. Sed non lectus magna. In egestas sit amet orci id imperdiet. Aliquam sed luctus risus, id ultrices massa.
		</p>
	</div>
</div>

<!-- This seciton will contain more detailed info on the app (usage, FAQ?), white bg (or close) -->
<div class="row home home-middle">
	<div class="col-md-6">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nulla iaculis nibh faucibus venenatis. Pellentesque auctor tellus est, non porttitor erat ultricies eu. Vivamus nec purus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus accumsan magna ut sollicitudin. Sed non lectus magna. In egestas sit amet orci id imperdiet. Aliquam sed luctus risus, id ultrices massa.
		</p>
	</div>
	<div class="col-md-6">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nulla iaculis nibh faucibus venenatis. Pellentesque auctor tellus est, non porttitor erat ultricies eu. Vivamus nec purus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus accumsan magna ut sollicitudin. Sed non lectus magna. In egestas sit amet orci id imperdiet. Aliquam sed luctus risus, id ultrices massa.
		</p>
	</div>
</div>

<!-- This seciton will contain social and contact info, and another img bg (parallax) -->
<div class="row home" id="home-bottom-banner">
<!-- This four columns, but only the middle 2 have content, maybe a social share block, contact form? -->
		<div class="col-md-3">
			<span class="home-bottom-vertical-spacer"></span>
		</div>
		<!-- This seciton will link to sign up/sign in -->
		<div class="col-md-3">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nulla iaculis nibh faucibus venenatis. Pellentesque auctor tellus est, non porttitor erat ultricies eu. Vivamus nec purus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus accumsan magna ut sollicitudin. Sed non lectus magna. In egestas sit amet orci id imperdiet. Aliquam sed luctus risus, id ultrices massa.
			</p>
		</div>
		<div class="col-md-3">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nulla iaculis nibh faucibus venenatis. Pellentesque auctor tellus est, non porttitor erat ultricies eu. Vivamus nec purus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus accumsan magna ut sollicitudin. Sed non lectus magna. In egestas sit amet orci id imperdiet. Aliquam sed luctus risus, id ultrices massa.
			</p>
		</div>
		<!-- This seciton will link to sign up/sign in -->
		<div class="col-md-3">
			<span class="home-bottom-vertical-spacer"></span>
		</div>		
</div>



